.aboutContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.aboutInnerContainer{
  background-color:black;
  color:white;
  text-align:center;
  min-width:95vw;
  height:40vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.bottomWrapper{
    margin:auto 2.5rem;
    margin-top: 20px;
    padding:0px 20px;
   
}
.introContainer{
    /* border:1px solid red; */
    text-align:center;
    padding:1rem;
}
.introContainer >p {
    margin-top: 25px;
}
.servicesWrapper{
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    text-align:center;
    padding: 20px 0px;
    /* margin-top: 20px; */
}
.cardContainer{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap:0.7rem;
}
.card,.ctmrCard{
   height:300px;
   width:250px;
   margin-top:20px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.ctmrCard{
    height:200px;
   width:200px;
    border-radius:50%;
    border:1px solid lightgray;
    background-image: url("https://images.unsplash.com/photo-1519085360753-af0119f7cbe7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}